html {
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
    min-width: 750px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 28px;
    background-color: rgb(255, 85, 20);
    color: white;
    height: 50px;
    padding: 10px;
    padding-left: 0.3%;
    min-width: 125px;
    font-family: 'Arial', cursive;
    text-align: center;
    margin-bottom: 30px;
}

button {
  background-color: rgb(255, 85, 20);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-family: 'Arial', cursive;
  font-size: 22px;
  border-radius: 15px;
  width: 400px;
  transition: 0.5s all;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 2px solid rgb(255, 85, 20);
  border-radius: 1em;
  background-color: rgb(255, 170, 140);
  font-family: 'Arial', cursive;
  font-size: 16px;
  color: black;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font-family: 'Arial', cursive;

  width: 300px;
  box-sizing: border-box;
  margin-top: 3px;
  color: black;

  border: none;
}

textarea {
  vertical-align: top;

  height: 5em;
}

button:hover {
  background-color: rgb(210, 40, 0);
  font-family: 'Arial', cursive;
  transition: 0.5s all;
}
